[submodule "headlights"]
	path = headlights
	url = git://github.com/vim-scripts/Headlights.git
[submodule "fuzzyfinder"]
	path = fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "L9"]
	path = L9
	url = git://github.com/vim-scripts/L9.git
[submodule "session.vim--Odding"]
	path = session.vim--Odding
	url = git://github.com/vim-scripts/session.vim--Odding.git
[submodule "jQuery"]
	path = jQuery
	url = git://github.com/vim-scripts/jQuery.git
