[submodule "headlights"]
	path = headlights
	url = git://github.com/vim-scripts/Headlights.git
	ignore = dirty
[submodule "fuzzyfinder"]
	path = fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "L9"]
	path = L9
	url = git://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "session.vim--Odding"]
	path = session.vim--Odding
	url = git://github.com/vim-scripts/session.vim--Odding.git
	ignore = dirty
[submodule "jQuery"]
	path = jQuery
	url = git://github.com/vim-scripts/jQuery.git
	ignore = dirty
[submodule "sparkup"]
	path = sparkup
	url = git://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim-css-color"]
	path = vim-css-color
	url = https://github.com/skammer/vim-css-color
	ignore = dirty
[submodule "AutoClose"]
	path = AutoClose
	url = https://github.com/vim-scripts/AutoClose
	ignore = dirty
[submodule "scrollcolors"]
	path = scrollcolors
	url = https://github.com/vim-scripts/ScrollColors.git
	ignore = dirty
[submodule "noderepl"]
	path = noderepl
	url = https://github.com/intuited/vim-noderepl.git
	ignore = dirty
[submodule "slime"]
	path = slime
	url = https://github.com/jpalardy/vim-slime
	ignore = dirty
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "javascript-syntax"]
	path = javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
	ignore = dirty
[submodule "nginx"]
	path = nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim-soy"]
	path = vim-soy
	url = https://github.com/vim-scripts/vim-soy.git
